.pagination {
  margin-top: 20px;
  padding: 5px 0;
  width: 90%;
  height: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 2px;
  border: none;
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
}
.page-active {
  background-color: rgb(244, 241, 241);
  color: #ed1e2b;
  border: none;
  border-bottom: 2px solid #ed1e2b;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.page-btn {
  font-weight: 700;
  border: none;
  padding: 5px;
  padding: 0 16px;
  color: #ccc;
  transition: all 0.2s ease-in-out;
}
.page-img {
  width: 20px;
}
.pagination span {
  margin-top: 10px;
}
